.board-button {
  max-width: 60px;
  width: 100%;
  padding: 15px 0px;
  background-color: #853f3f5c;
  text-align: center;

  transition: background-color 0.1s ease-in-out;

  user-select: none;
  cursor: pointer;
}

.board-button:hover {
  background-color: #853f3fb3;
}

.board-button:active {
  background-color: #f977775c;
}

.spec-button {
  max-width: 100px;
}

.space-button {
  min-width: 100px;
  width: 100%;
  max-width: 150px;
}

.active {
  background-color: #f977775c;
}

.caps {
  background-color: #f831315c;
}

.caps:active {
  background-color: #f831315c;
}