.board {
  background-color: $board-color;
  max-width: 910px;
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 7px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  padding: 15px 10px;
}

.board-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 7px;
}