* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  // background-color: black;
}

p {
  padding: 0;
  margin: 0;
}